<%= simple_form_for(@data_query) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content, as: :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
