<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @data_query.content %>
</p>

<%= link_to 'Edit', edit_data_query_path(@data_query) %> |
<%= link_to 'Back', data_queries_path %>
