<h3>Filter Data having non NULL value for specified keys</h3>
<textarea class="form-control" name="filter_having_keys" id="filter_having_keys_data" rows="4"></textarea><br>
<span class="help-block">
<h3> Sample Body </h3>
<pre>
{
  "keys" : {
    "list" : ["event"]
  }
}
</pre>

<hr>

<h3> Brief Description </h3>
<pre>
{
<%= render 'filter_having_keys_example_json' %>
}
</pre>
</span>