<h3>Add Filter</h3>
<textarea class="form-control" name="filter" id="filter_data" rows="8"></textarea><br>
<span class="help-block">
<h3> Sample Body </h3>
<pre>
{
  "title" : {
    "type" : "remove",
    "list" : ["Office"]      
  },
  "time" : {
    "start_time" : "2014-04-10 00:00:00",
    "end_time" : "2014-04-10 23:59:59"
  }
}
</pre>
<hr>
<h3> Brief Description </h3>
<pre>
{
<%= render 'filter_example_json' %>
}
</pre>
</span>
