<p>To filter data to be imported for analysis, put the JSON body in the text box below and click the button</p>
<textarea id="body_data" cols="60" rows="10"></textarea>
<br>
<button type="button" id="js-analyze-filtered">Analyse Filtered Data</button>

<hr>

<h2> Sample Body </h2>
<pre>
{
  "filter" : {
    "event" : {
      "type" : "remove",
      "list" : ["Moved to"]
    },
    "title" : {
      "type" : "remove",
      "list" : ["Office"]      
    },
    "time" : {
      "start_time" : "2014-02-21",
      "end_time" : "2014-10-29"
    }
  }
}
</pre>

<hr>

<h2> Brief Description </h2>
<pre>
{
  "filter" : {
<%= render 'filter' %>
  }
}
</pre>