<p>To group data before importing for analysis, put the JSON body in the text box below and click the button</p>
<textarea id="body_data" cols="60" rows="10"></textarea>
<br>
<button type="button" id="js-analyze-grouped">Analyse Filtered Data</button>

<hr>

<h2> Sample Body </h2>
<pre>
{
  "group" : "username"
}
</pre>

<hr>

<h2> Brief Description </h2>
<pre>
{
  "group" : "user/session/application/activity"
}
</pre>