<p>To group data before importing for analysis, put the JSON body in the text box below and click the button</p>
<form id="group_form" role="form">
<textarea class="form-control" name="body_data" id="body_data" cols="60" rows="10"></textarea>
<br>
<button type="button" class="btn btn-default start" id="js-analyze-grouped" data-loading-text="Processing...">Analyse Grouped Data</button>
</form>
<hr>

<h3> Sample Body </h3>
<pre>
{
  "group" : "username"
}
</pre>

<hr>

<h3> Brief Description </h3>
<pre>
{
  "group" : "user/session/application/activity"
}
</pre>