<p>To add additional measures for analytics, put the JSON body in the text box below and click the button</p>
<form id="measures_form" role="form">
<textarea class="form-control" name="body_data" id="body_data" cols="60" rows="10"></textarea>
<br>
<button type="button" class="btn btn-default" id="js-analyze-measures">Analyse Data</button>
</form>
<hr>

<h3> Sample Body </h3>
<pre>
{
  "group" : "session",
  "measures" : {
    "event_count" : {
      "CountOfEvents" : {}
    },
    "my_smart_count_1" : {
      "Count" : {
        "filter" : {
          "event" : {
            "type" : "remove",
            "list" : ["Bred dragons"]
          }
        }
      }
    },
    "my_smart_count_2" : {
      "Count" : {
        "filter_having_keys" : {
          "keys" : {
            "list" : ["event"]
          }
        }
      }
    }
  }
}
</pre>

<hr>

<h3> Brief Description </h3>
<pre>
{
  "group" : "user/session/application/activity",
  "measures" : {
    "measure_name" : {
      "measure_type" : {
        "measure_body/params"
      }
    }
  }
}
</pre>