<p>To add additional measures for analytics, put the JSON body in the text box below and click the button</p>
<form id="measures_form" >
<textarea name="body_data" id="body_data" cols="60" rows="10"></textarea>
<br>
<button type="button" id="js-analyze-measures">Analyse Filtered Data</button>
</form>
<hr>

<h2> Sample Body </h2>
<pre>
{
  "group" : "session",
  "measures" : {
    "event_count" : {
      "CountOfEvents" : {}
    },
    "my_smart_count" : {
      "Count" : {
        "filter" : {
          "event" : {
            "type" : "remove",
            "list" : ["Bred dragons"]
          }
        }
      }
    }
  }
}
</pre>

<hr>

<h2> Brief Description </h2>
<pre>
{
  "group" : "user/session/application/activity",
  "measures" : {
    "<measure_name>" : {
      "<measure_type>" : {
        "<measure_body/params>"
      }
    }
  }
}
</pre>