<p>To group data before importing for analysis, put the JSON body in the text box below and click the button</p>
<form id="synthetic_data_form" role="form">
<textarea class="form-control" name="body_data" id="body_data" cols="60" rows="10"></textarea>
<br>
<button type="button" class="btn btn-default start" id="js-analyze-synthetic-data" data-loading-text="Processing...">Add Synthetic Data</button>
</form>
<hr>

<h3> Sample Body </h3>
<pre>
{
  "group" : "username",
  "synthetic_data" : {
    "rule" : {
      "type" : "match",
      "pattern" : [
        {
          "event": "User started model"
        },
        {
          "event" : "componentCreated"
        }
      ]
    },
    "result" : {
      "clone" : "0",
      "update_log" : {
        "event" : "User starts game model"
      }
    }
  }
}
</pre>