<p>To group data before importing for analysis, put the JSON body in the text box below and click the button</p>
<form id="transformation_form" >
<textarea name="body_data" id="body_data" cols="60" rows="10"></textarea>
<br>
<button type="button" id="js-analyze-transformed">Analyse Filtered Data</button>
</form>
<hr>

<h2> Sample Body </h2>
<pre>
{
  "filter_having_keys" : {
    "keys" : {
      "list" : ["event"]
    }
  },
  "group" : "session",
  "measures" : {
    "my_smart_count_1" : {
      "Count" : {
        "filter" : {
          "event" : {
            "type" : "remove",
            "list" : ["Bred dragons"]
          }
        }
      }
    },
    "my_smart_count_2" : {
      "Count" : {
        "filter_having_keys" : {
          "keys" : {
            "list" : ["event"]
          }
        }
      }
    }
  }
}
</pre>

<hr>

<h2> Brief Description </h2>
<pre>
{
  "filter" : {
<%= render 'filter' %>
  },
  "filter_having_keys" : {
<%= render 'filter_having_keys' %>
  },
  "group" : "user/session/application/activity"
}
</pre>