<p>To group data before importing for analysis, put the JSON body in the text box below and click the button</p>
<textarea id="body_data" cols="60" rows="10"></textarea>
<br>
<button type="button" id="js-analyze-transformed">Analyse Filtered Data</button>

<hr>

<h2> Sample Body </h2>
<pre>
{
  "filter" : {
    "username" : ["peeyush"]
  },
  "group" : "username"
}
</pre>

<hr>

<h2> Brief Description </h2>
<pre>
{
  "filter" : {
    "activity" : [list of activities],
    "application" : [list of applications],
    "username" : [list of usernames],
    "time" : ["start time","end time"],
    "parameters" : {
      "keys" : [list of keys],
      "pairs": [{"key_1":"value_1"},{"key_2":"value_2"}]
    }
    "extras" : {
      "keys" : [list of keys],
      "pairs": [{"key_1":"value_1"},{"key_2":"value_2"}]
    }
  },
  "group" : "user/session/application/activity"
}
</pre>