<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="lead">Data Analytics Log Manager helps collect log data and provides tools to analyze this data.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class = "row">
    <div class="col-md-12">
      <h2>Github Repositories for Project</h2>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-10">
      <ul>
        <li><a class="btn btn-link" href="https://github.com/apeeyush/Data-Analytics-Log-Manager"> Main Rails Application </a></li>
        <li><a class="btn btn-link" href="https://github.com/apeeyush/codap"> CODAP code complementing Rails application</a></li>
      </ul>
    </div>
  </div>
</div>