<h1>Data Analytics</h1>
<p>Data Analytics Log Manager provides an API for receiving log data from multiple applications and storing them in a database. The data can then be filtered and transformed to create a parent-child relationship. It is also possible to add synthetic/computed data before visualizing it on CODAP. More information about the project is available on <a href="https://github.com/apeeyush/Data-Analytics-Log-Manager/wiki">wiki</a>.<p>
<br>
Github Repositories for Project:<br>
<a href="https://github.com/apeeyush/Data-Analytics-Log-Manager"> Main Rails Application </a><br>
<a href="https://github.com/apeeyush/codap"> CODAP code complementing Rails application</a>

<p>You may find it useful if you have an application for which you would like to visualize how your users are using it and find patterns hidden in the data. And what's more, it's all real time.</p>

<p>Visit <a href="/codap">CODAP</a> to analyze data!</p>. Click <a href="/logs">here</a> to explore logs present in database.