<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to Data Analytics Log Manager</h2>
      <p>Data Analytics Log Manager helps collect log data and provides tools to analyze this data.</p>
      <p>For more information about the project, visit the <%= link_to "about",pages_about_path %></li> page.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if user_signed_in? %>
        <p class="lead">Welcome <%= current_user.email %></p>
        <% if current_user.applications.pluck(:name).empty? %>
          <p> You will be able to view, explore and analyze logs once admin adds applications to your account.</p>
        <% else %>
          You can view data from following applications:
          <ul>
            <% current_user.applications.pluck(:name).each do |name| %>
              <li><%= name %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

