<h1>Data Analytics</h1>
<p>The Rails application servers as a common system for sending user action logging data from various applications into visualization application CODAP after applying transformations.</p>