<div class="container">
<div class="row">
<div class="col-md-12">
<% if user_signed_in? %>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
<% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
<% end %>
</div>
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-12">
    <p class="lead">Data Analytics Log Manager provides an API for receiving log data from multiple applications and storing them in a database. The data can then be filtered and transformed to create a parent-child relationship. It is also possible to add synthetic/computed data before visualizing it on CODAP. More information about the project is available on <a href="https://github.com/apeeyush/Data-Analytics-Log-Manager/wiki">wiki</a>.<p>
  </div>
</div>
</div>

<div class="container">
<div class = "row">
  <div class="col-md-12">
    <h2>Github Repositories for Project</h2>
  </div>
  <div class = "row">
    <div class="col-md-10">
      <ul>
        <li><a href="https://github.com/apeeyush/Data-Analytics-Log-Manager"> Main Rails Application </a></li>
       <li><a href="https://github.com/apeeyush/codap"> CODAP code complementing Rails application</a></li>
      </ul>
    </div>
  </div>
</div>
</div>