<div class='row padding-around'>
<form class="form-horizontal">
  <br>
  <div class="form-group">
    <label class="col-md-2 control-label" for="child-data-remove">Add Child Data</label>
    <div class="col-md-4">
      <input type='checkbox' data-bind='checked: child_query().add_child_data'></input>
    </div>
  </div>
  <div data-bind='foreach: child_query().filter'>
    <div class="row bordered top-buffer" style="padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 10px;">
      <!-- ko if: filter_type == 'string' -->
        <div class="form-group">
          <label class="col-md-2 control-label" for="key">Key</label>
          <div class="col-sm-4">
            <input class="form-control" data-bind='value: key'></input>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="values">Values</label>
          <div class="col-sm-4">
            <div data-bind="foreach: list">
              <input class="form-control input-short" data-bind="value: $parent.list()[$index()]"></input>
              <button type="button" class="btn btn-link remove-item" data-bind='click: $root.deleteListItemFromFilter.bind($data, $parent, $index())'>-</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <button type="button" class="btn btn-link" data-bind='click: $root.addListItemToFilter'><span class="add-item">+</span>Add Value</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2">
            <input type='checkbox' data-bind='checked: remove'></input>
            <label class="control-label" for="remove">Remove events that match this</label>
          </div>
        </div>
      <!-- /ko -->
      <!-- ko if: filter_type == 'time' -->
        <div class="form-group">
          <label class="col-md-2 control-label" for="key">Key</label>
          <div class="col-sm-4">
            <input class="form-control" data-bind='value: key'></input>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="start_time">Start Time</label>
          <div class="col-sm-4">
            <input class="form-control" data-bind='value: start_time'></input>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="end_time">End Time</label>
          <div class="col-sm-4">
            <input class="form-control" data-bind='value: end_time'></input>
          </div>
        </div>
      <!-- /ko -->
      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <button class="btn btn-danger" data-bind='click: $parent.removeFilterInstanceFromChildData'>Delete Filter</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group">
    <div class="col-md-4 col-md-offset-2">
      <button class="btn btn-primary" data-bind='click: $root.addStringFilterInstanceToChildQuery'>Add String Filter</button>
      <button class="btn btn-primary" data-bind='click: $root.addTimeFilterInstanceToChildQuery'>Add Time Filter</button>
    </div>
  </div>
</form>
</div>
