<div class="row top-buffer">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-md-2 control-label" for="group">Group</label>
      <div class="col-md-4">
      <select class="form-control" id="group" data-bind="options: recommendedGroups, value: group"></select><br>
    </div>
    </div>
  </form>
</div>
