<form class="form-horizontal" id="transformation_form">
  <div class="form-group">
    <textarea name="json-textarea" id="json-textarea" class="form-control top-buffer" data-bind="value: ko.toJSON($data, null, 4)" rows="20"></textarea>
  </div>

  <div class="form-group">
    <button type="button" class="btn btn-primary" id="js-submit-query" data-loading-text="Processing..."> Analyse Data </button>
  </div>
</form>
