<form class="form-horizontal" id="transformation_form">
  <div class="form-group">
    <textarea name="json-textarea" id="json-textarea" class="form-control top-buffer" data-bind="value: ko.toJSON($data, null, 4)" rows="20"></textarea>
  </div>

  <div class="form-group">
    <span class="help-block">Please close Graph and Table views in CODAP before running new query to prevent a crash!</span>
  </div>


  <br>

  <h3>Save Data Query</h3>

  <div class="form-group">
    <label class="col-md-2 control-label" for="query-name">Name</label>
      <div class="col-sm-4">
        <input name="query-name" id="query-name" class="form-control"></input>
      </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-2">
      <button type="button" class="btn btn-small" id="js-save-query">Save</button>
    </div>
  </div>

</form>
