<form class="form-horizontal">
  <div class="form-group">
    <textarea id="json-textarea" class="form-control top-buffer" data-bind="value: ko.toJSON($data, null, 4)" rows="30"></textarea>
  </div>
</form>
