<div class="row top-buffer">
  <form class="form-horizontal">
    <div class="form-group">
      <textarea id="json-textarea" class="form-control" data-bind="value: ko.toJSON($data, null, 4)" rows="40"></textarea>
    </div>
  </form>
</div>
