<h3>Add Measures</h3>
<textarea class="form-control" name="measures" id="measures_data" rows="8"></textarea><br>
<br>
<button type="button" class="btn btn-default start" 
        id="js-submit-query" data-loading-text="Processing...">
        Analyse Data
</button>
<br>
<blockquote>
  <h4>Please close Graph and Table views before running new query to prevent a crash!</h4>
</blockquote>

<span class="help-block">
<h3> Sample Body </h3>
<pre>
{
  "my_smart_count_1" : {
    "Count" : {
      "filter" : {
        "event" : {
          "type" : "remove",
          "list" : ["Bred dragons"]
        }
      }
    }
  },
  "session_username" : {
    "AddValue" : {
      "filter" : {
        "event" : {
          "list" : ["User logged in"]
        }
      },
      "key" : "username"
    }
  }
}
</pre>

<hr>

<h3> Brief Description </h3>
<pre>
{
  "measure_name" : {
    "measure_type" : {
      "measure_body/params"
    }
  }
}
</pre>
</span>