<h3>Add Group</h3>
<textarea class="form-control" name="group" id="js-group-data" rows="1"></textarea><br>

<span class="help-block">
<h3> Possible Values: </h3>
<pre>
session/username/activity/application                    # Choose one of the following
</pre>
</span>

<h3>Add Child Table Filter</h3>
<textarea class="form-control" name="child_filter" id="child_filter_data" rows="4"></textarea><br>

<span class="help-block">
<h3> Sample Body </h3>
<pre>
{
  "event" : {
    "list" : ["Started challenge", "Bred dragons"]
  }
}
</pre>

<hr>

<h3> Brief Description </h3>
<pre>
Specify filter as JSON
</pre>
</span>