<h3>Add Group</h3>
<input type="text" class="form-control" name="group" id="js-group-data"><br>

<span class="help-block">
<h3> Sample Body </h3>
<pre>
session
</pre>

<hr>

<h3> Brief Description </h3>
<pre>
session/username/activity/application                    # Choose one of the following
</pre>
</span>