<div class="container">

<div id="json_data">
  <h3>JSON Query</h3>
  <form class="form-horizontal" id="transformation_form">
    <div class="form-group">
      <textarea name="json-textarea" id="json-textarea" class="form-control top-buffer" data-bind="value: ko.toJSON($data, null, 4)" rows="20"></textarea>
    </div>
  </form>
</div>

<div class="top-buttons">
  <div id="js-log-spreadsheet-export"><!-- React component placeholder --></div>
</div>

</div>
