<h1>Listing logs</h1>

<table id="logs" data-source="<%= logs_url(format: "json") %>">
  <thead>
    <tr>
      <th>Session</th>
      <th>Username</th>
      <th>Application</th>
      <th>Activity</th>
      <th>Event</th>
      <th>Time</th>
      <th>Parameters</th>
      <th>Extras</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>